body{
    background-color: #fff!important;
}

.cabecalho {
    background-color: #154c79;
}

.cabecalho_2 {
    background-color: #063970!important;
    height: 40px;
}

.logo {
    margin: 0% 15% 0% 2%
    
}

.header-contact-info {
    margin: 0% 30% 0% 0%;
}